/* CSS */

html {
	font-family: sans-serif;
	font-size: 1.3125em;
	text-align: left;
	color: #000;
}

body {
	margin: 4em 10em;
	font: 1em;
	background: #fff;
}

a {
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}

a:link, a:visited {
  border: none;
  text-decoration: underline;
  font-style: normal;
  color: black;
}

a:focus {
  outline: thin dotted;
  text-decoration: none;
  color: #000;
  background-color: #999;
}

a:hover, a:active {
  text-decoration: none;
  color: #000;
  background-color: #999;
}

.container {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}
