/* Frequency Histogram */

#freq .bar {
    fill: steelblue;
    cursor: pointer;
}

#freq .bar:hover {
    fill: brown;
}

#freq .axis {
    font: 1em sans-serif;
}

#freq .axis path, .axis line {
    fill: none;
    stroke: #b6b6b6;
    shape-rendering: crispEdges;
}

#freq .x.axis path {
    display: none;
}

#freq .y.axis text {
    fill: #999;
}

#freq .tick text {
    fill: #999;
}

/* Item Types Distribution */

#items {
    font-size: 10px;
}

#items .axis path, .axis line {
    fill: none;
    stroke: #b6b6b6;
    shape-rendering: crispEdges;
}

#items .tick text {
    fill: #999;
}

#items g.journal.active {
    cursor: pointer;
}

#items circle {
    cursor: pointer;
}

#items text.label {
    font-size: 12px; 
    font-weight: bold;
    cursor: pointer;
}

#items text.value {
    font-size: 12px;
    font-weight: bold;
}
